{% extends 'layout.html' %}


{% block title %}
    Login Page
{% endblock %}

{% block content %}

    <!-- ======= Breadcrumbs ======= -->
    <section id="breadcrumbs" class="breadcrumbs">
        <div class="container">

            <div class="d-flex justify-content-between align-items-center">
                <h2>Login</h2>
                <ol>
                    <li><a href="{% url 'home' %}">Home</a></li>
                    <li>Login</li>
                </ol>
            </div>

        </div>
    </section><!-- End Breadcrumbs -->

    <!-- ======= Contact Section ======= -->


    <section id="contact" class="contact">
        <div class="container">


            <div class="row mt-5 justify-content-center" data-aos="fade-up">
                <div class="col-lg-4">
                    <h2>Login Your Account</h2><br>
                    <form action="" method="post">
                        {% csrf_token %}
                        <div class="form-group">
                            <input type="text" name="username" class="form-control" id="username" placeholder="Your username"/>
                            <div class="validate"></div>
                        </div>

                        <div class="form-group">
                            <input type="password" name="password" class="form-control" id="password" placeholder="Your Password"/>
                            <div class="validate"></div>

                        </div>

                        <small>Forgot My <a href="{% url 'forgetpassword' %}" > Password</a> </small>


                        <div class="text-center">
                            <button class="btn btn-success" type="submit">Login</button>
                        </div>
                    </form>
                       <br>
                    <small>Don't have an Account<a href="{% url 'registration' %}"> Register Here</a></small>

                </div>

            </div>

        </div>
    </section><!-- End Contact Section -->

{% endblock %}